html {
  height: 100%;
}

body {
  background-color: #d6d4d5;
  height: 100%;
}

.header {
  background-color: white;
  width: 102%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin: -8px 0px 0px -8px;
}

img {
  height: 70px;
  width: 180px;
  margin-left: 200px;
  margin-right: 600px;
}

.header_right {
  text-align: left;
}

.nav_link:first-child:before {
  content: "";
}

.nav_link,
.footer_nav_l::before {
  padding-inline: 0px 3px;
  content: "|";
}

.all_contents {
  display: inline-block;
  align-items: center;
}

.nav {
  top: 200px;
}

.nav_list {
  display: grid;
  position: fixed;
  top: 200px;
}

.nav_button {
  font-size: 12px;
  color: #3c3c3c;
  height: 33px;
  width: 200px;
  text-decoration: none;
  padding-inline: 10px;
  gap: 10px;
  font-family: "Arial";
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.bx {
  font-size: 18px;
  font-weight: bold;
}

.active,
.nav_button:hover {
  background-color: #77b900;
  color: white;
}

section {
  height: 100%;
  width: 100%;
  display: flex;

  justify-content: center;
  text-align: right;
}

.content {
  background-color: #fefefe;
  height: 584px;
  width: 666px;
  justify-content: center;
  left: 600px;
  position: relative;
  margin: 15px 0 15px 0;
}

#Add_Customer_info {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
hr {
  width: 155%;
  margin: -12px 0px 17px -100px;
}

h3 {
  text-align: center;

  font-weight: 700;
  font-family: Arial;
}

.dropdown {
  height: 25px;
  font-family: Arial;
  border-radius: 5px;
  border-radius: 5px;
  background-color: #d6d4d5;
}

#pn,
#su,
#cn,
#email,
#ba1,
#ba2,
#State,
#city,
#Z {
  position: relative;
  left: 20px;
  width: 280px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid darkgray;
  justify-content: right;
}

label {
  font-family: Arial;
  font-weight: 700;
  font-size: 12px;
  text-align: end;
}

#State,
#su {
  margin-bottom: 15px;
  width: 284px;
}
#submit {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-left: 350px;
  height: 30px;
  width: 100px;
  background-color: #77b900;
  color: #fefefe;
  border-radius: 3px;
  border: none;
  bottom: 10px;
}
.footer {
  margin: 0 0 0 -8px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  background: white;
}
.footer_nav_l {
  color: #77b900;
}
.helpertext {
  color: red;
  margin-left: 20px;
  font-size: 15px;
  margin-bottom: 5px;
}
