body {
  background-color: #d6d4d5;
  height: 96vh;
}

.header {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

img {
  height: 70px;
  width: 180px;
  margin-left: 200px;
  margin-right: 600px;
}

.header_right {
  text-align: left;
}

.nav_link:first-child:before {
  content: '';
}

.nav_link::before {
  padding-inline: 0px 3px;
  content: '|';
}

.all_contents {
  display: inline-block;
  align-items: center;
}

.nav {
  top: 200px;
}

.nav_list {
  display: grid;
  position: fixed;
  top: 200px;
}

.nav_button {
  font-size: 12px;
  height: 33px;
  width: 200px;
  text-decoration: none;
  padding-inline: 10px;
  font-family: 'Arial';
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.active,
.nav_button:hover {
  background-color: #77b900;
  color: white;
}

section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: #fefefe;
  height: 555px;
  width: 666px;
  justify-content: center;
  left: 600px;
  position: absolute;
}

#Add_Customer_info {
  text-align: center;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-weight: 700;
}

#su {
  position: relative;
  left: 20px;
  margin-bottom: 5px;
  width: 200px;
}

.su {
  margin-left: 40px;
}

#pn {
  position: relative;
  left: 20px;
  margin-bottom: 5px;
  width: 200px;
}

.pn {
  margin-left: 7px;
}

#cn {
  position: relative;
  left: 20px;
  margin-bottom: 5px;
  width: 200px;
}

#email {
  position: relative;
  left: 20px;
  margin-bottom: 5px;
  width: 200px;
}

.email {
  margin-left: 11px;
}

#ba1 {
  position: relative;
  left: 20px;
  margin-bottom: 5px;
  width: 200px;
}

.ba1 {
  margin-left: -3px;
}

#ba2 {
  position: relative;
  left: 20px;
  margin-bottom: 5px;
  width: 200px;
}

.ba2 {
  margin-left: -2px;
}


#city {
  position: relative;
  left: 20px;
  margin-bottom: 5px;
  width: 200px;
}

.city {
  margin-left: 79px;
}

#State {
  position: relative;
  left: 20px;
  margin-bottom: 5px;
  width: 200px;
}

.st {
  margin-left: 75px;
}

#Z {
  position: relative;
  left: 20px;
  margin-bottom: 5px;
  width: 200px;
}

.z {
  margin-left: 83px;
}

#submit {
  margin-left: 350px;
  background-color: #77b900;
  color: #fefefe;
  border-radius: 5px;
}